@import "../../styles/formCommon.module.scss";

.header {
	display: flex;
	align-items: center;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid rgba(#000000, 0.08);
}

.name {
	font-size: 20px;
	word-wrap: break-word;
}
.list {
	display: flex;
	flex-wrap: wrap;
	& li {
		padding-left: 18px;
		background: no-repeat left url("../../assets/Vector.jpg");
		margin-right: 20px;
		line-height: 133%;
		&:last-of-type {
			margin-right: 0px;
		}
		& a {
			color: blue;
			font-size: 12px;
		}
	}
}
.button {
	margin-top: 48px;
}
