.input {
	padding: 12px;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 4px;
	outline: none;
	font-size: 14px;
	line-height: 20px;
}
.label {
	display: flex;
	flex-direction: column;
	margin-top: 24px;
	font-size: 14px;
	line-height: 20px;
	max-width: 400px;
	width: 100%; 
	&:first-of-type {
		margin-top: 0px;
	}
	color: #292727;
}
