.avatar {
	margin-right: 24px;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #d5e4f7;
	border-radius: 50%;
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	flex-shrink: 0;
	@media (max-width: 480px) {
		width: 60px;
		height: 60px;
		font-size: 30px;
		line-height: 130%;

	}
}
