/* Указываем box sizing */
*,
*::before,
*::after {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
	padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
	list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
	text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
	margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Шрифты */

@font-face {
	font-family: "My Font";
	src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap") format("truetype");
}

body {
	font-family: "My Font", sans-serif;
	background-color: #f1f1f7;
	padding-inline: 25px;
	@media (max-width: 480px) {
		padding-inline: 15px;
	}
}

.container {
	max-width: 900px;
	margin-inline: auto;
	padding: 25px;
	background-color: #fff;
	position: relative;
	min-height: 704px;
	margin-top: 25px;
	border-radius: 12px;
	@media (max-width: 1024px) {
		padding: 20px;
		min-height: 554px;
	}
	@media (max-width: 480px) {
		padding: 15px;
		min-height: 454px;
	}
}
